<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h2>Registration Form</h2>
    <form action="http://localhost:8000/user/save_info/{{data.email}}" method="post">
        <label for="firstname">First Name:</label><br>
        {%if data.firstname == '0'%}
            <input type="text" id="lastname" name="lastname"><br><br>
        {% else %}
            <input type="text" id="firstname" name="firstname" value = {{data.firstname}}><br><br>
        {% endif %}    
        <label for="lastname">Last Name:</label><br>
        {%if data.lastname == '0'%}
            <input type="text" id="lastname" name="lastname"><br><br>
        {% else %}
            <input type="text" id="lastname" name="lastname" value = {{data.lastname}}><br><br>
        {% endif %}
        <label for="age">Age:</label><br>
        {%if data.age == 0 %}
            <input type="number" id="age" name="age"><br><br>
        {% else %}
            <input type="number" id="age" name="age" value = {{data.age}}><br><br>
        {% endif %}
        <label for="gender">Gender:</label><br>
        {%if data.gender == 'male'%}
        <input type="radio" id="male" name="gender" value="male" checked >
        {% else %}
        <input type="radio" id="male" name="gender" value="male">
        {% endif %}
        <label for="male">Male</label><br>
        {%if data.gender == 'female'%}
        <input type="radio" id="female" name="gender" value="female" checked >
        {% else %}
        <input type="radio" id="female" name="gender" value="female">
        {% endif %}
        <label for="female">Female</label><br><br>
        
        <input type="submit" value="Save">
    </form>
</body>
</html>